$ cat .gitignore

# Can ignore specific files
*.geany
Makefile
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

dts_universal
dts_custom

1
analyse
button
button2
io_input
oszi
performance
pwm_adc
pwm_cap
qep
rb_file
rb_oszi
sos
stepper
triggers

pasm_init.bi
pasm_run.bi
libpruio.so*

src/python/libpruio/pruio.py
debian/libpruio-lkm.service
doxy/fbdoc.lfn
src/config/*.dtbo
src/examples/BBB

# Use wildcards as well
*.bz2
*.deb
*.pyc
CMakeCache*
CPack*

# Can also ignore all directories and files in a directory.
build/**/*
CMakeFiles/**/*
doxy/CMakeFiles/**/*
doxy/html/**/*
doxy/latex/**/*
src/pruio/CMakeFiles/**/*
src/config/CMakeFiles/**/*
src/examples/CMakeFiles/**/*
src/c_examples/CMakeFiles/**/*
src/c_include/CMakeFiles/**/*
src/test/**/*
_CPack*/**/*
