$ cat .gitignore

# Can ignore specific files
pruio.geany
Makefile
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

dts_universal
dts_custom

1
analyse
button
io_input
oszi
performance
pwm_adc
pwm_cap
qep
rb_file
rb_oszi
sos
stepper
triggers
pasm_init.bi
pasm_run.bi
libpruio.so

doxy/fb-doc.lfn

# Use wildcards as well
*.bz2
*.deb
CMakeCache*
CPack*
build/**/*

# Can also ignore all directories and files in a directory.
CMakeFiles/**/*
doxy/CMakeFiles/**/*
doxy/html/**/*
doxy/latex/**/*
src/pruio/CMakeFiles/**/*
src/config/CMakeFiles/**/*
src/examples/CMakeFiles/**/*
src/c_examples/CMakeFiles/**/*
src/c_include/CMakeFiles/**/*
_CPack*/**/*
