#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

#DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export PREFIX:=/usr
export PYBUILD_NAME=keystone-engine

override_dh_auto_configure:
	cmake . -DCMAKE_MODULE_PATH=$$(pwd)/cmake/Modules -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_VERBOSE_MAKEFILE=ON

override_dh_auto_build:
#	make && make lkm && make doc_htm
	make && make lkm && make python && make doc_htm
#	make

override_dh_installinit:
	dh_installinit --noscripts

%:
#	dh $@ --with autotools-dev  --with systemd --with python2 --buildsystem=pybuild
	dh $@ --with autotools-dev  --with systemd --with python2
