[Unit]
Description=Load libpruio overlay, make /dev/uio5 available for users in group pruio
Documentation=http://users.freebasic-portal.de/tjf/Projekte/libpruio/doc/html/index.html

[Service]
Type=oneshot
ExecStart=/sbin/modprobe libpruio
ExecStartPost=/bin/dash -c 'until [ -e /dev/uio5 ] ; do sleep 1 ; done ; /bin/chown pruio:pruio /sys/devices/platform/libpruio/state /dev/uio5'
ExecStop=/sbin/modprobe -r libpruio
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
