Package: libpruio-doc
Version: 0.6.0
Architecture: all
Maintainer: Thomas Freiherr <Thomas.Freiherr@gmx.net>
Recommends: libpruio (>= 0.6.0), libpruio-lkm (>= 0.6.0)
Suggests: libpruio-dev (>= 0.6), fbdoc (>= 0.4), freebasic (>= 1.0.0)
Section: doc
Priority: extra
Homepage: https://github.com/DTJF/libpruio
Description: HTML-documentation for libpruio-dev packages
 libpruio is a hardware driver for
 Beaglebone[Black|White|Green|Blue|Pocket-] hardware, providing
 features like PWM, eCAP, eQEP, ADC, GPIO, Timers. This package
 contains the documentation for using the library in your own projects
 (see also examples in packages libpruio-dev, libpruio-bas or
 python-pruio).
 .
 The docs install as HTML tree, starting at /usr/share/doc/libpruio/index.html.
